/.idea
/bytecode/
/bin/
/hooks.ds2
/build.xml
/jars/
.classpath
.project
.settings/
/log.txt
Client.iml
out/*
.gitignore
*.iml
agent/target
bytescript/target
client/target
injector/target
loader/target
